.app {
  background-color: #209cee;
  padding: 30px;
  height: 100vh;
}

.todoList {
  background-color: lightcoral;
  border-radius: 4px;
  padding: 5px;
  max-width: 400px;
}

.todo {
  background: blanchedalmond;
  box-shadow: blue;
  padding: 3px 10px;
  font-size: 12px;
  margin-bottom: 6px;
  border-radius: 3px;
}
